:root {
  --optSize: 180px;
}
main {
  position: relative;
  div {
    label {
      @include flex(block, column, center, center, null);
      width: var(--optSize);
      height: var(--optSize);
      @include border-radius(var(--optSize));
      overflow: hidden;
      box-shadow: 0 4px 32px 0 rgba(gray, 0.2);
      @include transition(400ms, curve());
      background-color: $light--4;
      input[type='radio'] {
        display: none;
      }
      img {
        width: var(--optSize);
        height: auto;
        pointer-events: none;
      }
    }
    &:nth-child(1) {
      label {
        cursor: pointer;
        img {
          @include transform(rotateY(180deg));
        }
        &.active {
          z-index: 1;
          &:nth-child(1) {
            @include transform(translate(150%, 165%) scale(1.5));
          }
          &:nth-child(2) {
            @include transform(translate(150%, 0) scale(1.5));
          }
          &:nth-child(3) {
            @include transform(translate(150%, -165%) scale(1.5));
          }
        }
      }
    }
    &:nth-child(2) {
      label {
        cursor: not-allowed;
        &.active {
          z-index: 1;
          &:nth-child(1) {
            @include transform(translate(-150%, 165%) scale(1.5));
          }
          &:nth-child(2) {
            @include transform(translate(-150%, 0) scale(1.5));
          }
          &:nth-child(3) {
            @include transform(translate(-150%, -165%) scale(1.5));
          }
        }
      }
    }
  }
}

.message {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  @include flex(block, column, center, center, null);
  width: 100%;
  height: 100%;
  @include border-radius(4px);
  background-color: rgba($light--4, 0.74);
  color: $accent--4;
  @include vendor(animation, message-fade-in 580ms curve() 700ms forwards);
  opacity: 0;
  h1 {
    margin: 0;
    font-family: Product Sans, sans-serif;
  }
  button {
    cursor: pointer;
    @include vendor(appearance, none);
    width: 56px;
    height: 56px;
    border: none;
    margin: 16px;
    background-color: transparent;
    color: $accent--4;
    i {
      @include transition(280ms, curve());
    }
    &:hover {
      i {
        @include transform(rotate(360deg) scale(2));
      }
    }
  }
}

.rapper {
  background-color: $light--4;
  @include vendor(box-shadow, 2px 0 8px 0 rgba(darken($light--4, 30%), 0.4));
}
#scoreboard {
  width: 100%;
  text-align: center;
  border-spacing: 16px;
  thead {
    tr {
      height: 100px;
      color: rgba(black, 0.74);
      font-family: Product Sans, sans-serif;
      font-size: 18px;
    }
  }
  tbody {
    tr:first-child {
      color: rgba(black, 0.74);
      font-family: Product Sans, sans-serif;
      font-size: 92px;
      td {
      }
    }
    tr {
      color: rgba(black, 0.54);
    }
  }
}

@keyframes message-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}